.experiencia {
    max-width: 75rem;
    padding: 2.5rem 1.25rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 8rem;
}
.experiencia-texto {
    font-size: 1.5rem;
    line-height: 1.33;
    max-width: 35ch;
    margin-bottom: 3.75rem;
}
.experiencia-texto strong {
    color: var(--cor-12);
}
.trabalhos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1.25rem;
    gap: 10px 70px;
    background-color: var(--cor-1);
    margin-bottom: 1.25rem;
    border-radius: 0.25rem;
    position: relative;
    box-shadow: inset 0px 0px 0px 1px rgba(240, 240, 240, 1);
}
.trabalhos-ano {
    position: absolute;
    text-align: right;
    color: var(--cor-8);
    top: 1.375rem;
    left: -7.5rem;
    width: 5rem;
    font-size: 0.875rem;
}
.trabalhos::before {
    content: '';
    height: 10px;
    width: 10px;
    display: block;
    background: url(../img/dot.svg) no-repeat center;
    position: absolute;
    top: 1.75rem;
    left: 0.65rem;
}
.trabalhos-titulo {
    font-size: 1.125rem;
    line-height: 1.1;
    font-weight: bold;
    text-decoration: none;
}
.trabalhos-texto {
    font-size: 0.875rem;
    line-height: 1.5;
    max-width: 35ch;
}
.trabalhos-habilidades {
    display: flex;
    flex-wrap: wrap;
    gap: 0.625rem;
    align-content: start;
}
.trabalhos-habilidades li {
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.5;
    border-radius: 4px;
    background-color: var(--cor-0);
    padding: 5px 10px;
}
@media (max-width: 800px) {
    .experiencia {
        grid-template-columns: 1fr;
        gap: 40px;
    }
    .experiencia .subtitulo {
        color: var(--cor-11);
    }
    .experiencia-texto {
        font-size: 1.25rem;
    }
    .trabalhos-ano {
        position: initial;
        order: 1;
        width: initial;
        text-align: left;
        font-weight: 500;
    }
}
@media (max-width: 400px) {
    .trabalhos {
        grid-template-columns: 1fr;
    }
}
