.formacao {
    background: #141414;
    color: #fff;
}
.formacao-container {
    max-width: 75rem;
    margin: 0 auto;
    padding: 7.5rem 1.25rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 8rem;
}

.formacao .subtitulo {
    color: #000;
    max-width: 5ch;
}
.formacao-texto {
    font-size: 1.5rem;
    line-height: 1.33;
    max-width: 35ch;
    margin-bottom: 3.75rem;
    color: #a3a3a3;
}
.formacao-texto strong {
    color: #fff;
}

.faculdade-lista {
    display: flex;
    flex-wrap: wrap;
    gap: 1.875rem;
    margin-bottom: 3.75rem;
}
.faculdade {
    flex: 1;
    background: #000;
    padding: 1.25rem;
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
}
.faculdade-tipo {
    font-size: 0.875rem;
    text-transform: uppercase;
    color: #a3a3a3;
    margin-bottom: 0.625rem;
}
.faculdade-curso {
    flex: 1;
    font-size: 1.125rem;
    line-height: 1.4;
    margin-bottom: 2.5rem;
    position: relative;
}
.faculdade-curso::before {
    content: "";
    height: 0.625rem;
    width: 0.625rem;
    display: block;
    background: url(../img/dot.svg) no-repeat center;
    position: absolute;
    top: 0.7rem;
    left: -0.625rem;
}
.faculdade-instituicao {
    font-size: 1.125rem;
    color: #a3a3a3;
}

.cursos {
    margin-bottom: 60px;
}
.cursos li {
    display: flex;
    justify-content: space-between;
}
.formacao-extra h3 {
    font-size: 0.875rem;
    line-height: 1.4;
    color: #8f8f8f;
    text-transform: uppercase;
    margin-bottom: 30px;
    position: relative;
}
.formacao-extra h3::before {
    display: block;
    content: "";
    width: 24px;
    height: 24px;
    color: linear-gradient(90deg, #d2d904, 0%, #848900, 100%);
    position: absolute;
    left: -36px;
    top: -4px;
}
.cursos h3::before {
    background: url(../img/curso-icone.svg) no-repeat center center;
}
.idiomas h3::before {
    background: url(../img/idioma-icone.svg) no-repeat center center;
}
.formacao-extra li {
    font-size: 1.125rem;
    line-height: 1.1;
    margin-bottom: 20px;
}
.formacao-extra span {
    color: #8f8f8f;
}

@media (max-width: 800px) {
    .formacao-container {
        grid-template-columns: 1fr;
        padding: 3.75rem 1.5rem;
        gap: 2.5rem;
    }
    .formacao .subtitulo {
        color: #fff;
    }
    .formacao-texto {
        font-size: 1.25rem;
    }
    .formacao-extra h3::before {
        position: initial;
        margin-bottom: .625rem;
    }
}
