body {
    font-family: Jost, 'Open Sans', Roboto;
}

.subtitulo {
    font: 700 7.625rem/1 'Bitter', sans-serif;
    text-transform: uppercase;
    word-break: break-all;
}

@media (max-width: 800px) {
    .subtitulo {
        font-size: 3rem;
        text-transform: capitalize;
        max-width: initial !important;
    }
}
@media (max-width: 400px) {
    .subtitulo {
        font-size: 2.5rem;
    }
}
