:root {
    --cor-texto-1: #525252;
    --cor-texto-2: #a3a3a3;
    --cor-texto-3: #ccc;
    --cor-texto-negrito: #000;
    --cor-subtitulo-1: #141414;
    --cor-subtitulo-2: #000;
    --cor-subtitulo-3: #8f8f8f;
    --cor-subtitulo-4: #e0e0e0;
    --cor-fundo-1: #141414;
    --cor-fundo-2: #000;
    --cor-fundo-3: #f5f5f5;
    --branco: #fff;
    --borda: #f0f0f0;
}
@media (prefers-color-scheme: dark) {
    :root {
    }
}

body {
    font-family: Jost, "Open Sans", Roboto;
    margin: 0px;
    color: #141414;
}
h1,
h2,
h3,
p {
    margin: 0px;
}
h1,
h2,
h3 {
    font-family: Bitter;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

hr {
    margin: 0px;
}

.subtitulo {
    font-size: 7.875rem;
    line-height: 1;
    text-transform: uppercase;
    word-break: break-all;
    max-width: 4ch;
}

@media (max-width: 800px) {
    .subtitulo {
        font-size: 3rem;
        text-transform: capitalize;
        max-width: initial !important;
    }
}
@media (max-width: 400px) {
    .subtitulo {
        font-size: 2.5rem;
    }
}
