body {
    font-family: Jost, "Open Sans", Roboto;
    margin: 0px;
}
h1,
h2,
h3,
p,
hr,
ul {
    margin: 0px;
    padding: 0px;
}
h1,
h2,
h3 {
    font-family: Bitter;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

.subtitulo {
    font-size: 7.875rem;
    line-height: 1;
    text-transform: uppercase;
    word-break: break-all;
    max-width: 4ch;
}

@media (max-width: 800px) {
    .subtitulo {
        font-size: 3rem;
        text-transform: capitalize;
        max-width: initial !important;
    }
}
@media (max-width: 400px) {
    .subtitulo {
        font-size: 2.5rem;
    }
}
