.header {
    max-width: 75rem;
    padding: 2.5rem 1.25rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 0.625rem;
    justify-content: center;
}
.header-menu a {
    font-size: 1.125rem;
    line-height: 1.3;
    padding: 0.625rem 1.25rem;
    color: var(--cor-11);
    text-decoration: none;
    display: block;
    border-bottom: 2px solid transparent;
    transition: border-color 0.2s ease-in-out;
}
.header-menu a:hover {
    border-color: var(--cor-2);
}

@media (max-width: 800px) {
    .header {
        flex-direction: column;
        gap: 2.5rem;
        padding: 1.25rem;
    }
    .header a {
        background: var(--cor-1);
        border-radius: 0.25rem;
    }
}
