.introducao {
    margin: 0 auto;
    max-width: 75rem;
    padding: 2.5rem 1.25rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}
.introducao div {
    padding-left: 24px;
}
.introducao h1 {
    font: 700 4rem/1.125 'Bitter', sans-serif;
    margin-bottom: 1.875rem;
    position: relative;
}
.introducao h1::before {
    content: '';
    display: block;
    width: 130px;
    height: 100px;
    background: url(../img/decoracao.svg) no-repeat center;
    position: absolute;
    top: -15px;
    left: -54px;
    z-index: -1;
}
.introducao p {
    font-size: 2rem;
}
hr {
    display: block;
    width: 70rem;
    margin: 4rem auto;
    border: 1px solid var(--cor-1);
}

@media (max-width: 1100px) {
    hr {
        width: 90%;
    }
}
@media (max-width: 800px) {
    .introducao {
        justify-content: flex-start;
        align-items: flex-start;
    }
    .introducao div {
        padding-left: initial;
    }
    .introducao h1 {
        font-size: 3.25rem;
    }
    .introducao h1::before {
        background-size: 3.1rem;
        top: -1.4rem;
        left: -3.5rem;
    }
    .introducao p {
        font-size: 1.5rem;
    }
    hr {
        width: 80%;
        margin: 2rem auto;
    }
}
@media (max-width: 400px) {
    .introducao h1 {
        font-size: 3rem;
    }
    .introducao h1::before {
        background-size: 42px;
        top: -1.45rem;
        left: -3.65rem;
    }
    .introducao p {
        font-size: 1rem;
    }
}
@media (max-width: 350px) {
    .introducao h1 {
        font-size: 2.5rem;
        margin-bottom: 1.5rem;
    }
    .introducao h1::before {
        background-size: 2.2rem;
        top: -1.8rem;
        left: -3.7rem;
    }
    .introducao p {
        font-size: 1rem;
    }
}
